Repository wrl96/lazy-flask: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy

.pre-commit-config.yaml:

exclude: |
  ^dist/|^build/|^.venv/|^\.mypy_cache/|^\.ruff_cache/|^htmlcov/|^docs/_site/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-toml
      - id: check-yaml

  - repo: local
    hooks:
      - id: ruff
        name: ruff (poetry)
        entry: poetry run ruff check --fix
        language: system
        types: [python]

      - id: ruff-format
        name: ruff-format (poetry)
        entry: poetry run ruff format
        language: system
        types: [python]

      - id: mypy
        name: mypy (poetry)
        entry: poetry run mypy
        language: system
        pass_filenames: false
        types: [python]
        args:
          - src
          - --config-file=pyproject.toml
        files: ^src/lazy_flask/

      - id: pytest
        name: pytest (pre-push via poetry)
        entry: poetry run pytest
        language: system
        pass_filenames: false
        stages: [pre-push]

fix: ci
  .github/workflows/ci.yml
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/CODE_OF_CONDUCT_zh.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING_zh.md
  docs/README_zh.md
  lazy_flask.egg-info/PKG-INFO
  lazy_flask.egg-info/SOURCES.txt
  lazy_flask.egg-info/dependency_links.txt
  lazy_flask.egg-info/requires.txt
  lazy_flask.egg-info/top_level.txt
  pyproject.toml
  src/lazy_flask/app.py
Due: ruff, ruff-format, mypy

fix: docs & ci
  .github/workflows/ci.yml
  README.md
  docs/README_zh.md
Due: none

fix: docs
  README.md
Due: none

fix: docs & ci
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/CONTRIBUTING.md
  docs/CONTRIBUTING_zh.md
  docs/README_zh.md
  pyproject.toml
Due: none

feat: add json validation
  example/app.py
  src/lazy_flask/app.py
Due: ruff, ruff-format, mypy

fix: ci
  pyproject.toml
  tests/test_request_validation.py
Due: ruff, ruff-format

fix: ci
  .github/workflows/ci.yml
Due: none
